/*estilos para el encavesado*/
header{
    background-color: rgb(14, 235, 14);
    padding-inline: 10px;
    text-align: center;
    color: white ;
}
/*estilos para la barra de navegacion*/
nav a{
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
color: chocolate;
}
/*estilos para la seccion principal*/
.conbtenedor{
   width: 90%; 
   margin:  20px auto;
   padding: 15px;
   background: color #f4f4f4;
   border-radius: 8px;
   box-shadow: 0 0 10px rgb( 0, 0, 130.1);

}
.conbtenedor h2{
    color: #333;

}
.conbtenedor p{
    color: #555;
    font-size: 16px;
    line-height: 1.6 ;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;

}